# VIRTUAL ENVIRONEMTNS
.venv

# ENVIRONENT VARIABLES
.env

# PYCACHES
__pycache__

# DATA SAVE FILES
data/saves/*.json
data/saves/temp/*.txt

# LOG FILES
*.log

# IMAGE LINKS
images/img_links/image_links.txt